{% extends 'base.html' %}

{% block content %}
    <h1>Administration</h1>
    <hr>
    <h2>User List</h2>
    <table class="admin_table_id">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ admin.username }}</td>
                    <td>{{ admin.email }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
